html, body {
    font-family: "Microsoft YaHei";
    margin: 0;
    padding: 0;
    background-color:#f3f4f6;
}

.main{
    position: relative;
}

.wrapper{
    position: absolute;
    width:360px;
    top:50%;
    left:50%;
    margin-left:-180px;
    margin-top:-300px;
    /* border-radius: 5px; */
    /* box-shadow: 0 10px 25px 5px rgba(0,0,0,0.1) */
}
.login-hd{
    background-repeat: no-repeat;
    width: 360px;
    height: 75px;
}
.login-body{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}

.icon-logo{
    background-repeat: no-repeat;
    width: 165px;
    height: 45px;
    display: inline-block;
    margin-top: 12px;
}
.box{
    padding: 50px 40px 0 40px;
    background-color: #fff;
    box-shadow: 0 2px 10px 2px rgba(150,150,150,0.1);
    position:relative;
    z-index: 1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.box input.login-input{
    width:280px;
    height:38px;
    border:1px solid #d7e3ee;
    border-radius: 4px;
    padding:0 10px 0 40px;;
    color: #333;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}


.wrapper .box .login-item{
    position: relative;
}
.icon-user{
    /*background-image: url(../../login/image/login/user.png);*/
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    left: 10px;
}
.icon-pwd{
    /*background-image: url(../../login/image/login/pwd.png);*/
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    left: 10px;
}
.mt35{
    margin-top: 35px;
}
.login-forget{
    text-align: right;
    margin: 10px 0;

}

.login-forget a{
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color:#33a6f3;
    text-decoration: none;
}
.login-forget a:hover{
    text-decoration:underline;
}
input.login-btn{
    width:100%;
    height:40px;
    border:1px solid #d7e3ee;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color:#fff;
    cursor: pointer;
    background-color: #37b9f3;
}
input.login-btn:hover{
    background-color: #00aaf3;
}
.login-bottom{
    height: 90px;
}
.msg{
    line-height: 80px;
    font-size: 14px;
    text-align: center;
    color: #ff3300;
}
.icon-err{
    /*background-image: url(../../login/image/login/error.png);*/
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}