<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染-第一个页面</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<!-- 下面两个是使用 Code Mirror 必须引入的： -->
<link rel="stylesheet" href="/resources/codemirror/lib/codemirror.css"/>
<script type="text/javascript" src="/resources/codemirror/lib/codemirror.js"></script>
<!-- 接下来要引用的就是在 mode 目录下编辑器中要编辑的语言对应的 js 文件，这里以 groovy 为例： -->
<!--<script src="/resources/codemirror/mode/groovy/groovy.js"></script>-->
<!--Java代码高亮必须引入-->
<script src="/resources/codemirror/clike.js"></script>
<!--引入css文件，用以支持主题-->
<link rel="stylesheet" href="/resources/codemirror/theme/dracula.css"/>
<!--支持代码折叠-->
<link rel="stylesheet" href="/resources/codemirror/addon/fold/foldgutter.css"/>
<script src="/resources/codemirror/addon/fold/foldcode.js"></script>
<script src="/resources/codemirror/addon/fold/foldgutter.js"></script>
<script src="/resources/codemirror/addon/fold/brace-fold.js"></script>
<script src="/resources/codemirror/addon/fold/comment-fold.js"></script>
<!--代码自动补全-->
<script src="/resources/codemirror/addon/hint/show-hint.js"></script>
<script src="/resources/codemirror/addon/hint/html-hint.js"></script>
<script src="/resources/codemirror/addon/hint/javascript-hint.js"></script>
<script src="/resources/codemirror/addon/hint/css-hint.js"></script>

<link rel="stylesheet" href="/resources/login/css/login/login.css">
<body>
<p th:text="${userName}"/>
<p th:text="${phone}"/>
<a href="${vncUrl}">开启虚拟桌面桌面</a>
<!-- begin code -->
<textarea class="form-control" id="code" name="code"></textarea>
<!-- end code-->
</body>

<script language="JavaScript">
    //根据DOM元素的id构造出一个编辑器
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        // mode: "text/groovy",    //实现groovy代码高亮
        mode: "text/x-java", //实现Java代码高亮
        lineNumbers: true,	//显示行号
        theme: "dracula",	//设置主题
        lineWrapping: true,	//代码折叠
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        matchBrackets: true,	//括号匹配
//readOnly: true,        //只读
        extraKeys:{"Tab": "autocomplete"},
    });
</script>
</html>